In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv(r'C:\Users\user\Downloads\course_lead_scoring.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_source               1334 non-null   object
 1   industry                  1328 non-null   object
 2   number_of_courses_viewed  1462 non-null   int64
 3   annual_income             1281 non-null   float64
 4   employment_status         1362 non-null   object
 5   location                  1399 non-null   object
 6   interaction_count         1462 non-null   int64
 7   lead_score                1462 non-null   float64
 8   converted                 1462 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 102.9+ KB

In [11]:
df.describe()

,number_of_courses_viewed,annual_income,interaction_count,lead_score,converted
count,1462.000000,1281.000000,1462.000000,1462.000000,1462.000000
mean,2.031464,59886.273224,2.976744,0.506108,0.619015
std,1.449717,15070.140389,1.681564,0.288465,0.485795
min,0.000000,13929.000000,0.000000,0.000000,0.000000
25%,1.000000,49698.000000,2.000000,0.262500,0.000000
50%,2.000000,60148.000000,3.000000,0.510000,1.000000
75%,3.000000,69639.000000,4.000000,0.750000,1.000000
max,9.000000,109899.000000,11.000000,1.000000,1.000000

In [13]:
# Check missing values
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [15]:
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna('NA')

In [17]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numerical_cols] = df[numerical_cols].fillna(0.0)

In [21]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [23]:
# Find the mode (most frequent value) of the 'industry' column
mode_value = df['industry'].mode()[0]

# Also check how many times it occurs
mode_count = df['industry'].value_counts().iloc[0]

print(f"The most frequent industry is: {mode_value}")
print(f"It appears {mode_count} times.")

The most frequent industry is: retail
It appears 203 times.

In [25]:
# Select only numerical features
num_df = df.select_dtypes(include=['int64', 'float64'])

In [27]:
# Compute the correlation matrix
corr_matrix = num_df.corr()

# Display the correlation matrix
corr_matrix

,number_of_courses_viewed,annual_income,interaction_count,lead_score,converted
number_of_courses_viewed,1.000000,0.009770,-0.023565,-0.004879,0.435914
annual_income,0.009770,1.000000,0.027036,0.015610,0.053131
interaction_count,-0.023565,0.027036,1.000000,0.009888,0.374573
lead_score,-0.004879,0.015610,0.009888,1.000000,0.193673
converted,0.435914,0.053131,0.374573,0.193673,1.000000

In [29]:
pairs = [
    ('interaction_count', 'lead_score'),
    ('number_of_courses_viewed', 'lead_score'),
    ('number_of_courses_viewed', 'interaction_count'),
    ('annual_income', 'interaction_count')
]

for a, b in pairs:
    corr_value = corr_matrix.loc[a, b]
    print(f"Correlation between {a} and {b}: {corr_value:.3f}")

Correlation between interaction_count and lead_score: 0.010
Correlation between number_of_courses_viewed and lead_score: -0.005
Correlation between number_of_courses_viewed and interaction_count: -0.024
Correlation between annual_income and interaction_count: 0.027

In [31]:
# Separate features and target
X = df.drop('converted', axis=1)
y = df['converted']

In [33]:
from sklearn.model_selection import train_test_split

# First split: Train (60%) and Temp (40%)
X_train, X_temp, y_train, y_temp = train_test_split(
    X, y, test_size=0.4, random_state=42
)

In [35]:
# Second split: Validation (20%) and Test (20%)
X_val, X_test, y_val, y_test = train_test_split(
    X_temp, y_temp, test_size=0.5, random_state=42
)

In [37]:
print(f"Training set: {X_train.shape[0]} samples")
print(f"Validation set: {X_val.shape[0]} samples")
print(f"Test set: {X_test.shape[0]} samples")

Training set: 877 samples
Validation set: 292 samples
Test set: 293 samples

In [39]:
assert 'converted' not in X_train.columns, "Target column still in features!"

In [41]:
from sklearn.feature_selection import mutual_info_classif
import pandas as pd

In [43]:
categorical_cols = X_train.select_dtypes(include=['object']).columns

In [45]:
# Convert categories to numeric codes temporarily
X_train_encoded = X_train[categorical_cols].apply(lambda x: x.astype('category').cat.codes)

# Compute mutual information between y_train and encoded categorical features
mi_scores = mutual_info_classif(X_train_encoded, y_train, discrete_features=True)

In [47]:
# Create a Series for easy viewing
mi_results = pd.Series(mi_scores, index=categorical_cols).sort_values(ascending=False)

# Round to 2 decimals
mi_results = mi_results.round(2)

print("Mutual Information Scores:")
print(mi_results)

Mutual Information Scores:
lead_source          0.03
employment_status    0.02
industry             0.02
location             0.00
dtype: float64

In [51]:
# One-cell: one-hot encode categoricals, fit LogisticRegression, compute validation accuracy

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score

# Identify categorical and numerical columns
cat_cols = X_train.select_dtypes(include=['object', 'category']).columns.tolist()
num_cols = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Build column transformer
ct = ColumnTransformer(
    transformers=[
        ('ohe', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols)
    ],
    remainder='passthrough'
)

# Create pipeline
model = make_pipeline(
    ct,
    LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
)

# Fit model
model.fit(X_train, y_train)

# Predict and compute validation accuracy
y_val_pred = model.predict(X_val)
accuracy = accuracy_score(y_val, y_val_pred)

print("Validation accuracy:", round(accuracy, 2))

Validation accuracy: 0.74

In [53]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score

# Function to train and evaluate model
def train_and_evaluate(X_train, y_train, X_val, y_val):
    cat_cols = X_train.select_dtypes(include=['object', 'category']).columns.tolist()
    num_cols = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()

    ct = ColumnTransformer(
        transformers=[
            ('ohe', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols)
        ],
        remainder='passthrough'
    )

    model = make_pipeline(
        ct,
        LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    )

    model.fit(X_train, y_train)
    y_val_pred = model.predict(X_val)
    return accuracy_score(y_val, y_val_pred)

# Baseline accuracy
baseline_acc = train_and_evaluate(X_train, y_train, X_val, y_val)

# Check effect of removing each feature
features_to_check = ['industry', 'employment_status', 'lead_score']
acc_diffs = {}

for feature in features_to_check:
    X_train_temp = X_train.drop(columns=[feature])
    X_val_temp = X_val.drop(columns=[feature])
    
    acc = train_and_evaluate(X_train_temp, y_train, X_val_temp, y_val)
    acc_diffs[feature] = baseline_acc - acc

# Display differences
acc_diffs

{'industry': 0.0,
 'employment_status': -0.003424657534246589,
 'lead_score': 0.0}

In [61]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score

# Define categorical and numeric columns
cat_cols = X_train.select_dtypes(include=['object', 'category']).columns.tolist()
num_cols = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Column transformer
ct = ColumnTransformer(
    transformers=[
        ('ohe', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols)
    ],
    remainder='passthrough'
)

# Try different C values
C_values = [0.01, 0.1, 1, 10, 100]
val_accuracies = {}

for c in C_values:
    model = make_pipeline(
        ct,
        LogisticRegression(solver='liblinear', C=c, max_iter=1000, random_state=42)
    )
    model.fit(X_train, y_train)
    y_val_pred = model.predict(X_val)
    acc = accuracy_score(y_val, y_val_pred)
    val_accuracies[c] = (acc)

val_accuracies

{0.01: 0.7431506849315068,
 0.1: 0.7431506849315068,
 1: 0.7431506849315068,
 10: 0.7431506849315068,
 100: 0.7431506849315068}